/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/dapcode/.installation
/storage/app/dapcode/.license
/storage/app/dapcode/.secret
/storage/app/dapcode/.license-state
/storage/app/dapcode/*.secret
/storage/app/dapcode/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
